@model BHunter_Final.Models.ResetPassword
@{
    Layout = null;
    ViewData["Title"] = "ResetPassword";

}



<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


<div class="login-page" id="loginPage">
    <div class="film-stage" id="filmStage">
        <div class="film-background">

            <div class="film-holes top">
                @for (int i = 0; i < 18; i++)
                {
                    <span class="hole"></span>
                }
            </div>

            <div class="film-center">
                <div class="form-scroll-area">
                    <div class="login-card">
                        <img src="~/images/SilverScreenLogo.png" alt="Silver Screen Society Logo" class="logo-img" />

                        <h1 class="login-title">Reset Password</h1>

                        <form asp-action="ResetPassword" asp-controller="Home" method="post" class="login-form" id="forgotPasswordForm">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input asp-for="Email" class="form-control" readonly />
                               
                            </div>

                            <div class="form-group">
                                <input asp-for="NewPassword" placeholder="New Password" class="login-input" type="password" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="login-input" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="login-btn">Reset Password</button>

                        </form>
                    </div>
                </div>
            </div>

            <div class="film-holes bottom">
                @for (int i = 0; i < 18; i++)
                {
                    <span class="hole"></span>
                }
            </div>

        </div>
    </div>
</div>